
  /* Style the links inside the navigation bar */
  .navbar {
    background-color: #173042;
    text-align: center;
    overflow: hidden;
    padding: 1% 16px;
    font-size: 17px;
    
  }

  .nav-link {
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 25px;
    color: #cfdfda;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #236477;
  } 

  #Icon {
    height: 30px;
  }