 /* Style the links inside the navigation bar */
 .Footer {
    background-color: #173042;
    text-align: center;
    overflow: hidden;
    padding: 1% 16px;
    font-size: 17px;
  }
    /* Change the color of links on hover */
    .Footer a:hover {
        background-color: #236477;
      } 

  .nav-link {
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 25px;
    color: #cfdfda;
  }

  #Icon {
    height: 30px;
  }

  /*I think icon:after here is worthless*/
  .icon:after {
    content: "";
    clear: both;
    display: table;
  }

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    color: gray;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

#footer li {
    width: 100px;
    height: 100px;
    padding: 5px;
}