.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
}

#root > div > div:nth-child(3) {
  background-color: #7cad3e;
}

